<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head', { pageTitle: 'List' }) %>
  </head>
  <body>
    <%- include('partials/navigation') %>
    <h1>List</h1>
    <ul>
      <% students.forEach(function(student) { %>
        <li>
          <p>Name: <%= student.fullName %></p>
          <p>Code: <%= student.code %></p>
          <p>Field of Studies: <%= student.fieldOfStudies %></p>
        </li>
      <% }); %>
    </ul>
  </body>
</html>